@page "/resources/{ResourceId:guid}"

@using ASSISTENTE.Contract.Requests.Internal.Knowledge.Queries.GetResource
@using ASSISTENTE.UI.Brokers.Implementations
@using ASSISTENTE.UI.Components

@inject IResourcesBroker ResourcesBroker
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<PageTitle>Resource details</PageTitle>

@if (_response is not null)
{
    <MudGrid Class="mb-3">
        <MudItem xs="12" sm="12">
            <h2 class="mb-2">
                Resource
                <MudChip T="string" Size="Size.Small" Color="Color.Success">@_response.Type</MudChip>
            </h2>
            @_response.Title
        </MudItem>
    </MudGrid>

    <MudGrid Class="mb-3">
        <MudItem xs="12" sm="12">
            <h2 class="mb-2">Content</h2>
            <MarkdownArea Content="@_response.Content"/>
        </MudItem>
    </MudGrid>

    <MudGrid Class="mb-3">
        <MudItem xs="12" sm="12">
            <h2 class="mb-2">Used in questions:</h2>
            <MudSimpleTable Hover="true" Dense="true">
                <thead>
                <tr>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @if (_response.Questions.Any())
                {
                    foreach (var question in _response.Questions)
                    {
                        <tr>
                            <td>@question.Text</td>
                            <td>
                                <MudButton Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Search"
                                           Color="Color.Info"
                                           Size="Size.Small"
                                           OnClick="() => Redirect(question.QuestionId)">
                                    Question
                                </MudButton>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No questions found...</td>
                    </tr>
                }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </MudGrid>
}

@code {

    [Parameter] public Guid ResourceId { get; set; }

    private GetResourceResponse? _response;

    protected override async Task OnInitializedAsync()
    {
        var response = await ResourcesBroker.GetResourceAsync(GetResourceRequest.Create(ResourceId));

        if (response.IsSuccess)
        {
            _response = response.Content;
        }
        else
        {
            Snackbar.Add("Error during loading resource details...", Severity.Error);
        }
    }

    private void Redirect(Guid questionId) => NavigationManager.NavigateTo($"/questions/{questionId}");
}